body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #ddd;
    margin: 0;
    padding: 20px;
    line-height: 1.5;
    overflow-x: hidden; /* Still killing scrollbar nonsense */
    background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 1px, rgba(255, 255, 255, 0.1) 1px, rgba(255, 255, 255, 0.1) 2px);
    background-size: 100% 2px; /* Line height */
    animation: scan 1s linear infinite;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

.links {
    margin-top: 20px;
}

.links a {
    color: #0af;
    text-decoration: none;
    margin-right: 20px;
}

.links a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@keyframes scan {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 2px;
    }
}
